#include "resource.h"
#include <windows.h>

IDI_APPICON ICON "ClipTrace.ico"
IDR_LOGO RCDATA "logo.png"
IDR_DEVELOPER RCDATA "developer.png"

VS_VERSION_INFO VERSIONINFO
FILEVERSION 1,1,0,0
PRODUCTVERSION 1,1,0,0
FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
FILEFLAGS 0x1L
#else
FILEFLAGS 0x0L
#endif
FILEOS 0x40004L
FILETYPE 0x1L
FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "041604b0"
        BEGIN
            VALUE "CompanyName", "palmeidev"
            VALUE "FileDescription", "ClipTrace - Gerenciador de Area de Transferencia"
            VALUE "FileVersion", "1.1-preview"
            VALUE "InternalName", "ClipTrace.exe"
            VALUE "LegalCopyright", "Copyright (C) Pablo Almeida (palmeidev)"
            VALUE "OriginalFilename", "ClipTrace.exe"
            VALUE "ProductName", "ClipTrace"
            VALUE "ProductVersion", "1.1-preview"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0416, 1200
    END
END
